<% session[:sources].each do |source| %>
  <section class="row news-source">
    <div class="col-xs-12 source-title">
      <h3><%= source[:name] %></h3>
    </div>
    <div class="col-xs-12 article-list">
      <% articles = rss_to_hash source[:url]
      articles.each do |article| %>
        <article>
          <a href="<%= article["link"] %>">
            <h4><%= article["title"] %></h4>
            <p>
              <%= article["description"] %>
            </p>
          </a>
        </article>
      <% end %>
    </div>
  </section>
<% end %>
